html { padding: 0; margin: 0; background-color: #ffffff; }
body { padding: 16px 16px 16px 16px; margin: 0; }

* { color: #444; font-family: Arial; font-size: 14px; }

h1 { font-weight: lighter; margin: 0 0 25pt 0; font-size: 18px; }
h2 { font-weight: lighter; margin: 0 0 21pt 0; font-size: 16px; }

p {
    margin: 0 0 15pt 0;
}

a { color: red; }
